@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  --bg-dark: #1e1e24;
  --font-color: #fff8f1;
  --bg-contrast: #ffecd1;
  --red-accent: #eb5160;
  --red-accent-highlight: #f76675;
  --green-accent: #21a179;
  --green-accent-highlight: #29c291;
  --dashboard-color: #ffecd1;
  --dashboard-secondary: #21a179;
  --header-color: #1e1e24;
}

body {
  background-color: var(--bg-dark);
  color: var(--font-color);
  font-family: "Montserrat", sans-serif;
}
